@font-face {
  font-family: 'Tele2 TextSans Web SHORT Regular';
  src: url('https://db.onlinewebfonts.com/t/eaede26ebfc025d4b8715790660fbde9.eot');
  src: url('https://db.onlinewebfonts.com/t/eaede26ebfc025d4b8715790660fbde9.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/eaede26ebfc025d4b8715790660fbde9.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/eaede26ebfc025d4b8715790660fbde9.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/eaede26ebfc025d4b8715790660fbde9.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/eaede26ebfc025d4b8715790660fbde9.svg#Tele2 TextSans Web SHORT Regular')
      format('svg');
}
