.container {
  width: 1440px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  padding: 40px;
}
@media screen and (min-width: 375px) and (max-width: 1440px) {
  .container {
    width: 375px;
  }
  .header {
    position: relative;
  }
  .content {
    padding: 20px;
  }
}
